body{
    width: 100%;
    height: 100%;
}
form{
    width: 30%;
    margin: 40px auto;
    box-sizing: border-box;
    padding: 0.1px;
}
form div,
form input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    box-sizing: border-box;
    /* border-radius: 10px; */
    
}
form .inpt{
    padding-left: 40px;
    border: 1px solid #ccc;
}
.tips{
    color:red;
}
form #login{
    text-align: center;
    border: 1px solid #ccc;
    background-color: #67c23a;
    color:#fff;
}
::-webkit-input-placeholder{
    color:#ccc;
}
i{
    position: absolute;
    left: 36.5%;
}
.icon-yonghuming{
    top:60px;
    color:#ccc;
}
.icon-yuechi{
    top:160px;
    color:#ccc;
}